* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --primary-orange: hsl(25, 97%, 53%);

  --neutal-white: hsl(0, 0%, 100%);
  --neutral-light-grey: hsl(217, 12%, 63%);
  --neutral-darker-grey: hsl(215, 18%, 26%);
  --neutral-dark-blue: hsl(213, 19%, 18%);
  --neutral-very-dark-blue: hsl(216, 12%, 8%);
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  background-color: var(--neutral-very-dark-blue);
  height: 100vh;
  display: grid;
  place-content: center;
  position: relative;
}

#app {
  background-color: var(--neutral-dark-blue);
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem;
  margin: 1.6rem;
  border-radius: 1.6rem;
}

h1 {
  color: var(--neutal-white);
}

p, .rating {
  color: var(--neutral-light-grey);
}

p {
  margin-top: 1.6rem;
  line-height: 160%;
}

.rating {
  display: flex;
  justify-content: space-between;
}

.icon-bg {
  background-color: var(--neutral-darker-grey);
  padding: 1.2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

button {
  background-color: var(--primary-orange);
  color: var(--neutral-very-dark-blue);
  font-weight: 700;
  letter-spacing: .2rem;
  border: none;
  padding: 1.6rem;
  border-radius: 2.4rem;
}

.rate:hover , button:hover {
  cursor: pointer;
  background-color: var(--neutal-white);
  transition: 0.3s
}

.active-rate {
  background-color: var(--primary-orange);
  color: var(--neutal-white);
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}

.modal-wrapper {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

#thank-you {
  text-align: center;
  background-color: var(--neutral-dark-blue);
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem;
  margin: 1.6rem;
  border-radius: 1.6rem;
  align-self: center;
  justify-self: center;
}

.final-rating-bg {
  background-color: var(--neutral-darker-grey);
  align-self: center;
  justify-self: center;
  padding: .4rem 1.8rem;
  border-radius: 2.4rem;
}

.final-rating {
  color: var(--primary-orange);
  margin-top: .4rem;
}

@media (min-width: 1440px) {
  #app {
    margin: 52.6rem;
    padding: 3.2rem 2.8rem;
    border-radius: 3.4rem;
  }

  .icon-bg {
    width: 50px;
    height: 50px;
    padding: 1.6rem;
  }

  #thank-you {
    margin: 52.6rem;
    gap: 3.2rem;
    padding: 4.0rem 2.4rem;
    border-radius: 3.4rem;
  }
}
